@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap'); /* font-family: 'Big Shoulders Display', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap'); /* font-family: 'Lexend Deca', sans-serif; */

/* ========================================================================= */

/* MOBILE FIRST RESPONSIVE DESIGN */

/* TABLE OF CONTENTS */
/* 
1. GLOBAL
2. LAYOUT
3. TYPOGRAPHY
4. MEDIA QUERY [desktop view]
*/

/* ========================================================================= */

/* 1. GLOBAL */
body {
  margin: 0;
  padding: 0;
  width: 100%;

}


/* ========================================================================= */

/* 2. LAYOUT */



/* ========================================================================= */

/* 3. TYPOGRAPHY */
.attribution {
  font-size: 11px; text-align: center;
}
  .attribution a {
    color: hsl(228, 45%, 44%); 
  }


/* ========================================================================= */

/* 4. MEDIA QUERY */

